{%- assign posts = paginator.posts | default: site.posts -%}
  <article>
    <header>
      <h1>Boas vindas</h1>
      <time>March 01, 2017</time>
    </header>
    <p>Seja bem vindo à nossa sala de Estudos. Aqui pretendemos provocar alguma discussão sobre temas relevantes; sobre as boas práticas para facilitadores de aprendizados; sobre formas mais amigáveis de tratar assuntos aparentemente complexos ou até mesmo, quem sabe, descomplicar o complexo a partir da boa discussão.
    </p>

    <h1>Monografias, TCC, Trabalhos Acadêmicos...</h1>
    <p>
    Você que está concluindo o seu curso superior e está na fase de elaboração do trabalho de conclusão do curso, monografia e assemelhados, poderemos ser últil desde a elaboração, editoração e até a elaboração da apresentação final do trabalho.
    </p>
    <p>
    Edidoração em LaTex ou MS-Word, elaboração questionários para pesquisa de campo, tabulação, gráficos e análises descritivas dos dados, apresentação em MS-Powerpoint.</p>

    <h1>Programação, Banco de Dados, SQL...</h1>
    <p>
    Você que quer aprender a programar e construir páginas web ou manipular banco de dados relacionais com SQL poderemos formar turmas específicas para estes cursos. <a href="/Sobre/">Entre em contato conosco...</a> 
    </p>

    <h1>Cálculo Diferencial e Integral, Álgebra Abstrata, Álgebra Linear, Cálculo Numérico, Estatística...</h1>
    <p>
    Você que está com alguma dificuldade, nestas ou outras disciplinas assemelhadas, entre em contato conosco! Para tanto, basta clicar <a href="/Sobre/">aqui...</a> 
    </p>

   <hr>

    <h2>Leia os nossos artigos...</h2>

  </article>

{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">read more</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
