.geral 
    width: 100%
    margin: 0 auto
    bbackground: #ddd

.col-1, .col-2, .col-3, .col-4, .col-5 .col-6 .col-7 .col-8, .col-9 .col-10 .col-11 .col-12
    float: left
    bbackground: #ddf
        
.col-12 
  width: 100%

.col-11 
  width: 91.66666667%

.col-10 
  width: 83.33333333%

.col-9 
  width: 75%

.col-8 
  width: 66.66666667%

.col-7 
  width: 58.33333333%

.col-6 
  width: 50%

.col-5 
  width: 41.66666667%

.col-4 
  width: 33.33333333%

.col-3 
  width: 25%

.col-2 
  width: 16.66666667%

.col-1 
  width: 8.33333333%

.avatar-50
  /* Rounded border */
  border-radius: 50%
  height: 84px
  width: 84px

.avatar-100
  /* Rounded border */
  border-radius: 50%
  height: 100px
  width: 100px

.avatar__image-10
  /* Rounded border */
  border-radius: 50%
  /* Take full size */
  height: 10%
  width: 10%

.avatar__image-100
  /* Rounded border */
  border-radius: 50%
  /* Take full size */
  height: 50%
  width: 50%

table
    font-size: 16px


td, th 
    padding: 7px 14px


div.tablePlated+table 
    border-spacing: 1px
    border-collapse: separate


div.tablePlated+table td, div.tablePlated+table th 
    background-color: lightblue


div.tableGridded+table 
    border-spacing: 0
    border-collapse: collapse    


div.tableGridded+table td, div.tableGridded+table th 
    border: solid 1px dodgerblue

